<a href="https://colab.research.google.com/github/moronii/Oceanpython29092020/blob/master/Oceanpython29092020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
administrador = True  #boolean - booleano - boll
print(administrador)

True

In [ ]:
#COMPARACAO

comparacao_igual = ( 1 == 1)
print ( comparacao_igual)
print ( 1 == 1)

True
True

In [ ]:
#comparacao diferente
comparacao_diferente = 1 != 1
print( comparacao_diferente)

False

In [ ]:
print (1 < 2 ) #false
print (1 > 0) #true
print ( 1 > 2 ) 
print ( 1 >= 1)
print (5 <= 5)

In [ ]:
#atividade
print ( 1 == 1 )  #true
print ( 4 >= 1) #true
print ( 2 >= 3) #false

True
True
False

In [ ]:
#operacao de comparacao an,or, not 
#and : todos os lados precisam ser true verdade para que o resultado seja true 
#NOT : iveste o operador booleano , ou seja false vira true e true vira false 

print ( True and False)   #TRUE
print (True and False ) #false
print ( False and False) #false
print ( not (False and True))  #true
print (not (False and False )) #true

False
False
False
True
True

In [ ]:
#or prrecisa que apenas um dos lados seja true 

print ( True or True)  #true
print ( True or False) #true 
print ( False or False) #false
print ( not (False or True )) #false
print ( not False or True ) #true

True
True
False
False
True

In [ ]:
#ORDEM LOGICA BOOLEANA 
1. resolvemos o 'not '
2. depois resolvemos o 'and'
3. por ultimo resolvemos o 'or'

In [ ]:
# if, elif e else

# True == True -> True
# False == True -> False
# Para entrarmos no bloco do if, a condição precisa ser True
# If representa "se", ou seja, "se" algo for verdadeiro
# Else representa "se não - ou - caso contrário", ou seja, se a condição do if for false, o else será ativado

admin = True

if admin == True:
  print("Acesso admin liberado.")
else:
  print("Acesso bloqueado.")

SyntaxError: ignored

In [ ]:
#elif representa um: caso contrário, se

numero = 5

if numero > 5:
  print(f"O número {numero} é maior do que 5.")
elif numero > 0:
  print(f"O número {numero} é maior do que 0 e também é menor ou igual a 5.")
else:
  print(f"O número {numero} é menor ou igual a 0.")

In [ ]:

print((20 - 10) > 15) # False
print((10 + 17) == 3 ** 16) # False
print(1 ** 2 <= -1) # False
print(40 * 4 >= -4) # True
print(100 != 10 ** 2) # False

False
False
False
True
False

In [ ]:
print("Rei" == "Rei Arthur") # False
print("Rei" != "Rei Arthur") # True
print(1 == "1") # False, pois o tipo é diferente, um é inteiro e outro é string
print("1" == "1") # True

False
True
False
True

In [ ]:
# Operações de comparação - and - &&

# And (&&): Todos os lados precisam ser True para que o resultado seja True
# Not (!): Inverte o operador booleano, ou seja, False vira True e True vira False

print(True and True) # True
print(True and False) # False
print(False and False) # False
print(not (True and False)) # True
print(not True and False) # False

True
False
False
True
False

In [ ]:
#EXERCICIO
#Escreva um programa que receba uma string digitada pelo usuário e caso a string seja igual a “medieval”, exiba no console: “espada”;

#Caso contrário, se a string for igual a “futurista”, exiba no console: “sabre de luz”;

#Caso contrário, exiba no console: “Tente novamente.”.

escolha_usuario = input("Por acaso você é *futurista* ou tá mais pra *medieval*?\n").lower().strip()

if "medieval" in escolha_usuario:
  print("Você recebeu uma espada!")
elif "futur" in escolha_usuario:
  print("Você recebeu um sabre de luz!")
else:
  print("Tente novamente...")

Por acaso você é *futurista* ou tá mais pra *medieval*?
futurista
Você recebeu um sabre de luz!

In [ ]:
#funcao
def exibir_numero():

numero == 1 

print ( numero)

exibir_numero()

IndentationError: ignored

In [40]:


# Retorno das funções

# Vamos construir uma calculadora

def somar(a, b):
  resultado_soma = a + b
  return resultado_soma

resultado1 = somar(15, 10)
print(resultado1)

resultado2 = somar(150, 20)
resultado3 = somar(50, 30)
resultado4 = somar(resultado2, resultado3)
print(resultado4)

25
250

In [41]:
def subtrair(a, b):
  return a - b

numero1 = 15
numero2 = 10
resultado1 = subtrair(numero1, numero2)
print(resultado1)

# Tenho sempre dois escopos: UM É DENTRO DA FUNÇÃO; O OUTRO É FORA DA FUNÇÃO, PARA QUEM ESTÁ CHAMANDO-A

def teste():
  print("Olá, sou um teste")

resultado2 = teste()
print(resultado2)
5

5
Olá, sou um teste
None

5

In [43]:
def getNumeroDigitado():
  return int(input("Digite um número:\n"))

numero1 = getNumeroDigitado()
numero2 = getNumeroDigitado()

print(f"A soma dos números digitados é: {numero1 + numero2}.")

def getNome():
  return "moroni"

print(f"Olá, sou o {getNome()}.")

def isAdmin():
  return False

Digite um número:
9
Digite um número:
90
A soma dos números digitados é: 99.
Olá, sou o moroni.

In [47]:
#crie funcao que receba um numero como parametro, aplique esse numero na formula abaixo e exiba o resultado no console

def calculadoranumero(numero):
  resultado = numero * numero + numero %10
  return resultado
  resultado1 = calculadoranumero (23)
  resultado2 = calculadoranumero (30)

  print (f"resultadodo1")